* {
  margin: 0;
  padding: 0;
}

body {
 background-image: url('./assets/hero_img.jpg');
 background-repeat: no-repeat;
 background-size: 1280px;
 background-color: #040711;
 background-position: 60% 0;
}

@media (min-width: 1280px) {

  body {
      background-size: 100%;
      background-position: 0 0;
      height: 100vb;
  }
  

}
